server:
  port: 8081 #gateway port

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ #http://eureka-server:8761/eureka/ #located by eureka docker container name

spring:
  application:
    name: edufy-gateway-server
  cloud:
    gateway:
      server:
        webflux:
           default-filters:
           - TokenRelay #aplies TokenRelay filter to all routes (forwards authorization: Bearer <token> header to all used microservice)
        routes:
          - id: mediaplayer
            uri: lb://edufy-media-service #lb = load balance via eureka (LITERAL DARK SPRING MAGIC BEING USED TO FIND EUREKA)
          - id: toplistservice
            uri: lb://Edufy-toplistservice
          - id: edufy-userservice
            uri: lb://Edufy-userservice

    discovery:
        locator:
          enabled: true
          lower-case-service-id: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/edufy-realm